.content-dev-skill {
    list-style-type: none;
    padding-left: 0px;
}

.content-dev-skill .dev-logo {
    height: 45px;
    margin-left:17px;
    margin-right: 17px;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}